* {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}


body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}



/* home section */
/* containers */

#home-section {
    height: 500px;
    width: 100%;
    background-image: url("/img/home-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.home-main-container {
    display: block;
    top: 150px;
    left: 20px;
    color: #fff;
    margin-left: 30px;
}

/* side styling home section*/

.home-title {
    font-size: 25px;
    font-weight:400;
    margin: 0;
    padding-top: 150px;
    padding-bottom: 5px;

}

.home-text {
    font-size: 40px;
    font-weight: 600;
 
}

.arrow-bg {
    display: inline-block;
    background-color: #3A5A40;
    padding: 15px;
    border-radius: 50%;
    margin-top: 45px;
}

.arrow-bg:hover {
    transition: .6s;
    scale: 1.1;
}

/* startnow containers */
#startnow-section {
    height: 450px;
    width: 100%;
    background: #DAD7CD;
}

.startnow-main-container {
    display: flex;
    justify-self: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: 600;
}

.startnow-left-container {
    display: block;
    text-wrap: balance;
    margin-left: 20px;

}

/* starnow side styling */

.startnow-title {
    margin-bottom: 20px;
    font-size: 20px;
}

.startnow-text {
    margin-bottom: 20px;
}

.startnow-btn {
    padding: 17px;
    background: #3A5A40;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    width: 150px;
    color: #fff;
    font-weight: 600;
}

.startnow-btn:hover {
    transition: .6s;
    background: #344E41;

}

.startnow-right-container img {
    height: 455px;

}

/* about us section */

#aboutus-section {
    height: 450px;
    background: #000
}

.aboutus-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;

}

.aboutus-left-container {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

/* side styling aboutus */

.aboutus-main-container img {
    width: 500px;
    height: 450px;
}

.aboutus-title {
    font-size: 20px;
    margin-bottom: 20px;
}

.about-us-btn {
    margin-top: 20px;
    padding: 17px;
    background: #3A5A40;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    width: 200px;
    color: #fff;
    font-weight: 600;
}

.about-us-btn:hover {
    transition: .6s;
    background: #344E41;
}

/* clients section */

#clients-section {
    height: 550px;
    width: 100%;
    background: #000;
}

.cards-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    gap: 30px;

}

/* side styling clients */

.clients-title {
    text-align: center;
    color: #fff;
    padding: 25px;
    font-size: 25px;
}

.card {
    margin-top: 30px;
    background: #DAD7CD;
    padding: 15px;
    height: 400px;
    width: 300px;
    border-radius: 20px;
    color: #000;
    line-height: 33px;

}

.card:hover {
    transition: .6s;
    box-shadow: #A3B18A 0px 7px 29px 0px;
}

.card h4 {
    font-size: 25px;
}

hr {
    border: 5px solid #A3B18A;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 15%;
}

.card:first-child {
    margin-left: 30px;
}

.card:last-child {
    margin-right: 30px;
}

/* footer */

#footer {
    height: 200px;
    width: 100%;
    background: #3A5A40;
}

.footer-main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 60px;
    overflow: hidden;
}

.media-container {
    display: flex;
    gap: 20px;
    margin-top: 6px;
}

/* side styling footer */

.links-footer a {
    list-style: inside;
    color: #fff;
    text-decoration: none;

}

.footer-main-container svg {
    cursor: pointer;
}

.RRSS:hover {
    transition: .6s;
    transform: translateY(-10px);
}

.RRSS1:hover {
    transition: .6s;
    transform: translateY(10px);
}

/* responsive design */

@media screen and (max-width:750px) {
    .startnow-main-container {
        flex-direction: column;
    }

    #startnow-section {
        height: 650px;
    }

    .startnow-left-container {
        text-align: center;
        margin-top: 35px;
    }

    /* startnow side styling responsive */
    .startnow-title {
        margin-bottom: 20px;
        font-size: 25px;
    }

    .startnow-right-container img {
        height: 355px;
        width: 80vw;
        border-radius: 5px;
        margin-top: 35px;
    }

    /* about us responsive */

    #aboutus-section {
        height: 650px;
        background: #000
    }

    .aboutus-main-container {
        flex-direction: column-reverse;
    }

    .aboutus-left-container {
        text-align: center;
        align-items: center;
        text-wrap: balance;
    }

    /* side styling aboutus responsive */

    .aboutus-main-container img {
        width: 80vw;
        height: 335px;
        border-radius: 5px;
        margin-top: 35px;
    }

    .aboutus-title {
        font-size: 25px;
        margin-bottom: 15px;
    }

    /* clients section responsive */

    #clients-section {
        height: 1175px;
    }

    .cards-main-container {
        flex-direction: column;
    }

    /* side styling clients responsive */
    .card {
        margin-top: 30px;
        height: 300px;
        width: 70vw;
        line-height: 30px;

    }

    .card:first-child {
        margin-left: 0;
    }

    .card:last-child {
        margin-right: 0;
        margin-bottom: 10px;
    }

}

@media screen and (max-width:600px) {
    .links-footer {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .list {
        opacity: 0;
        height: 0;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        margin-right: 0;
        z-index: 10;
        background: #3A5A40;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        transition: ease .4s;
        width: 100vw;
        font-size: 30px;
        text-align: center;
    }

    .list.active {
        height: 600px;
        opacity: 1;
        transition: ease .4s;
    }

}


@media screen and (max-width:465px) {
    .home-title {
        font-size: 23px;
    }

    .home-text {
        font-size: 35px;
    }

    .startnow-right-container img {
        height: 315px;
        margin-top: 5px;
        margin-left: 15px;
    }

    .aboutus-main-container img {
        height: 315px;
        margin-top: 35px;
    }

    .card {
        line-height: 23px;
    }

    .card:last-child {
        margin-right: 0;

    }
}

@media screen and (max-width:425px) {
    .footer-main-container {
        display: flex;
        flex-direction: column;
        font-size: 14px;

    }

    .card {
        height: 290px;
        font-size: 13px;

    }

}

/* animation */

@-webkit-keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  @keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
  }
  
  .home-title {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
