/* Estilos generales */

::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
    background-color: rgba(58, 90, 64, 1); /* Color del pulgar de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background-color: rgb(18, 26, 20); /* Color del pulgar de la barra de desplazamiento */

}


body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: rgba(58, 90, 64, 1);
    height: 80px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 50px;
}

.nav-links li {
    display: inline-block;
}

.nav-links li a {
    display: block;
    font-weight: 500;
    padding: 15px 20px;
    color: #fff; /* Cambia el color del texto del enlace */
    text-decoration: none;
    transition: background-color 0.3s;
}

.nav-links li a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Cambia el color de fondo al pasar el mouse */
}

.menu-toggle {
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    display: none; /* Oculta el botón de menú en pantallas grandes */
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none; /* Oculta la lista de enlaces en pantallas pequeñas */
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: rgba(58, 90, 64, 1);
        padding: 10px 0;
        text-align: center;
    }

    .nav-links.active {
        display: block; /* Muestra la lista de enlaces cuando se activa */
    }

    .nav-links li {
        display: block;
        margin-bottom: 10px; /* Añade un espacio entre cada enlace */
    }

    .menu-toggle {
        display: block; /* Muestra el botón de menú desplegable */
        position: absolute;
        top: 20px;
        right: 20px;
    }
}

/* FOOTER ---------------------------------------------------------------------------------------  */ 

footer {
    background-color: rgba(58, 90, 64, 1);
    color: white;
    padding: 120px 0;
    text-align: center;
  }
  
  footer a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
  }
  