

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
  font-family: "Roboto", sans-serif;
}


header nav ul{
    background-color:rgba(58, 90, 64, 1);
    height: 70px;
    padding: 0 30px;
    display: flex; /* Usamos Flexbox para centrar el contenido */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: flex-end; /* Alinear elementos a la derecha */
} 



nav ul li {
  margin-left: 20px; /* Espacio entre elementos */
}


nav ul li a {
font-family: "Roboto", sans-serif;
font-weight: 300;
font-style: normal;
font-size: 15px;
color: white;
padding: 10px 15px;

}


.verde{
  color: rgba(58, 90, 64, 1);
}

.texto-principal{
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 50%;
  border-bottom: 6px solid #344E41;
}

.texto-principal h1,.texto-principal h2{
  font-weight: 700;
  font-size: 90px;
  margin: 0
}

#nuestra-historia h2 {
  margin-left: 20px;
  margin-top: 30px; /* Espacio arriba del título */
}

#nuestra-historia p {
  border: 2px solid #344E41; /* Color del borde */
  border-radius: 30px; /* Radio de las esquinas */
  background-color: #c4d3ab;
  padding: 10px 15px; /* Espacio interno ajustado */
  margin: 10px;
}

/* ... (otros estilos) ... */

#mision-vision-objetivo {
  display: flex; /* Utilizamos Flexbox */
  justify-content: center; /* Centra las columnas horizontalmente */
 /* max-width: 1400px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor en la página */
  
}

#mision-vision-objetivo .columna  {
  flex: 5; /* Distribuye el espacio disponible entre las columnas */
  margin: 0 25px; /* Espacio entre las columnas */
  text-align: left; /* Centra el contenido horizontalmente */
}

#mision-vision-objetivo h2 {
  margin-top: 50px; /* Espacio arriba del título */
}

#mision-vision-objetivo p {
  margin-top: 5px; /* Espacio arriba de la descripción */
}

#nuestro-mision{
  margin-bottom: 10px;
  border-bottom: 2px solid #344E41;
}

#nuestro-vision{
  margin-bottom: 10px;
  border-bottom: 2px solid #344E41;
}

#nuestro-objetivo{
  margin-bottom: 10px;
  border-bottom: 2px solid #344E41;
}

/*APARTIR DE ACA EQUIPO NNST*/

.col-persona {
  display: flex;
  justify-content: center;
}

.persona {
  flex: 0 0 calc(20% - 30px); /* Ancho fijo para cada persona */
  margin: 20px; /* Margen reducido */
  border: 2px solid #344E41;
  background-color: #bbcfc5;
  padding: 15px;
  text-align: center;
}

.persona img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.persona h3,
.persona p {
  margin: 5px 0;
}


#equipo-nnst {
  margin-left: 20px; 
  margin-top: 70px; /* Espacio arriba del título */
}

/*APARTIR DE ACA NUESTROS SERVICIOS*/

#nuestros-servicios {
  display: flex;
  flex-wrap: wrap; /*specifica si los elementos "hijos" son obligados a permanecer en una misma línea o pueden fluir en varias líneas.*/
  justify-content: space-around;
  margin-top: 4px;
}

.servicio {
  width: calc(30% - 20px); /* Reducir el ancho y tener en cuenta el espacio del margen */
  padding: 15px; /* Reducir el espacio interno */
  margin-bottom: 20px; /* Reducir el espacio entre los servicios */
  border: 2px solid #344E41;
  text-align: center;
}

.servicio img {
  width: 80px; /* Tamaño del icono */
}

.servicio h2 {
  margin-top: 10px;
  font-size: 24px;
}

.servicio p {
  margin-top: 10px;
  font-size: 16px;
  text-align: left;
}

#servicio-nnst {
  margin-left: 20px; 
  margin-top: 50px; /* Espacio arriba del título */
}
/*ESPACIO ENTRE SECCIONES*/

/*
section {
  border-bottom: 2px solid #344E41;
  margin-bottom: 40px; /* Espacio entre secciones 
}*/

section {
  margin-bottom: 40px; /* Espacio entre secciones */
  border-bottom: 2px solid #BBCFC5; /* Cambiar el color y el grosor de la línea */
}

section h2 {
  font-size: 28px; /* Tamaño del título */
  color: #344E41; /* Color del título */
  margin-bottom: 20px; /* Espacio inferior del título */
}

section {
  background-color: #f0f0f0; /* Color de fondo */
  padding: 20px; /* Espacio interno */
}

#nuestra-historia,
#mision-vision-objetivo {
  background-color: #f0f0f0; /* Color de fondo */
  padding: 20px; /* Espacio interno */
  margin-bottom: -20px; /* Espacio entre secciones */
}

#mision-vision-objetivo {
  border-top: none; /* Eliminar la barra separadora en la parte superior */
}

/*ANIMACION DE EQUIPO NNST*/
.carousel {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos de forma uniforme a lo largo del contenedor */
  overflow: hidden; /* Oculta los elementos que desbordan del contenedor */
}

.persona {
  flex: 0 0 30%; /* Ancho fijo para cada persona */
  text-align: center;
  padding: 10px;
  margin: 10px;
  border: 2px solid #344E41;
  background-color: #bbcfc5;
  transition: transform 0.5s ease; /* Agrega una transición suave al hacer hover */
}

.persona:hover {
  transform: scale(1.1); /* Aumenta ligeramente el tamaño al hacer hover */
}

/*RESPONSIVE*/

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block; /* Mostrar el icono de hamburguesa en dispositivos móviles */
    position: absolute;
    top: 20px;
    right: 20px; /* Ajustar la posición del icono */
    z-index: 1000; /* Asegurar que esté por encima del resto del contenido */
  }

  header nav {
    position: relative; /* Establece el posicionamiento relativo para el contenedor del menú */
  }

  nav ul.nav-links {
    display: flex; /* Cambiado de "none" a "flex" para que aparezca el menú */
    flex-direction: column; /* Alinear los elementos verticalmente */
    top: 70px; /* Ajustar la posición del menú desplegable */
    left: 0;
    width: 100%;
    background-color: rgba(58, 90, 64, 1);
    padding: 20px 0; /* Ajustar el espacio entre los elementos */
    transform: translateY(-100%);
    transition: transform 0.3s ease; /* Agregar una transición suave */
    overflow-y: hidden; /* Ocultar la barra de desplazamiento vertical */
    max-height: 0; /* Ocultar la lista de navegación al principio */
    height: 155px;
  }

  nav ul.nav-links.active {
    transform: translateY(0); /* Mostrar la lista de navegación con una transición */
    max-height: 200px; /* Ajustar la altura máxima de la lista de navegación */
    overflow-y: auto; /* Habilitar el desplazamiento vertical si la lista de navegación es larga */
  }

  nav ul.nav-links li {
    margin: 10px 0; /* Ajustar el espacio entre los elementos de la lista */
  }

  nav ul.nav-links li a {
    font-size: 18px; /* Ajustar el tamaño de la fuente de los enlaces */
    color: white; /* Cambiar el color del texto de los enlaces */
  }
}

/* Estilos para pantallas grandes */
@media screen and (min-width: 769px) {
  .menu-toggle {
    display: none; /* Ocultar el botón de hamburguesa en pantallas grandes */
  }

  header nav ul.nav-links {
    display: flex; /* Mostrar el menú horizontal en pantallas grandes */
  }
}

/*RESPONSIVE COMPLETO*/

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
  /* Estilos específicos para dispositivos móviles */
}

/* Estilos para tabletas */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos específicos para tabletas */
}

/* Estilos para computadoras de escritorio */
@media screen and (min-width: 1025px) {
  /* Estilos específicos para computadoras de escritorio */
}

/*RESPONSIVE EQUIPO NNST*/

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
  .carousel {
    flex-direction: column; /* Cambia la dirección de la disposición a columna */
    align-items: center; /* Centra los elementos horizontalmente */
  }

  .persona {
    width: 80%; /* Ajusta el ancho para que ocupe el 80% del contenedor */
    margin-bottom: 20px; /* Añade espacio entre cada persona */
  }
}

/*RESPONSIVE SERVICIOS NNST*/

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
  #nuestros-servicios {
    flex-direction: column; /* Cambia la dirección de la disposición a columna */
    align-items: center; /* Centra los elementos horizontalmente */
  }

  .servicio {
    width: 80%; /* Ajusta el ancho para que ocupe el 80% del contenedor */
    margin-bottom: 20px; /* Añade espacio entre cada servicio */
  }
}

/*CENTRO LOS TITULOS DE EQUIPO Y SERVICIO*/
/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
  #equipo-nnst,
  #servicio-nnst,
  #testimonios-nnst {
    text-align: center; /* Centra el texto */
    margin: 0 auto 30px; /* Añade margen inferior para separarlo de las secciones */
  }
}
/* Estilos para pantallas grandes */
@media screen and (min-width: 769px) {
  #equipo-nnst,
  #servicio-nnst,
  #testimonios-nnst {
    text-align: center; /* Centra el texto */
    margin: 0 auto 30px; /* Añade margen inferior para separarlo de las secciones */
  }
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
  #equipo-nnst {
    margin-top: 100px; /* Ajusta el margen superior según sea necesario */
  }
}

/* Estilos para pantallas grandes */
@media screen and (min-width: 769px) {
  #equipo-nnst {
    text-align: center; /* Centra el texto */
    margin: 50px auto 30px; /* Añade margen superior e inferior y centra horizontalmente */
  }
}

/* SOMBREADO PARA SERVICIOS*/
.servicio {
  width: calc(30% - 20px); /* Reducir el ancho y tener en cuenta el espacio del margen */
  padding: 15px; /* Reducir el espacio interno */
  margin-bottom: 20px; /* Reducir el espacio entre los servicios */
  border: 2px solid #344E41;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Agrega sombreado */
}

/*TESTIMONIOS*/
/* Testimonios */
.carousel-container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  max-width: 600px; /* Limita el ancho máximo del carrusel */
}

.carousel-list {
  display: flex;
  transition: transform 0.5s ease;
  padding: 0; /* Elimina el relleno */
  margin: 0; /* Elimina el margen */
}

.carousel-item {
  flex: 0 0 100%;
  margin-right: 10px;
  list-style: none; /* Elimina las viñetas */
}

.testimonial {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.testimonial p {
  font-size: 16px;
  line-height: 1.5;
  color: #333; /* Color del texto */
}

.testimonial .author {
  font-style: italic;
  color: #666; /* Color del autor */
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.nav-btn.prev {
  left: 0;
}

.nav-btn.next {
  right: 0;
}

.testimonial img {
  max-width: 50%; /* Establece el ancho máximo como el ancho del contenedor */
  height: auto; /* Hace que la altura se ajuste automáticamente manteniendo la proporción */
}

#testimonios-nnst {
  margin-left: 20px; 
  margin-top: 50px; /* Espacio arriba del título */
}

/*FOOTER*/
footer {
  background-color: rgba(58, 90, 64, 1);
  color: white;
  padding: 20px 0;
  text-align: center;
}

footer a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}


/*animaciones del boton nav*/

/* Estilo base para el botón de menú */
.nav-links li a {
  transition: background-color 0.3s ease; /* Agrega una transición suave al color de fondo */
}

.nav-links li a:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Cambia el color de fondo al pasar el mouse */
}
