a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
li a{
    color: white;
    font-weight: 300;
}
#but_shop a:hover{
    background-color: red;
}
input{
    border-style: none;
    text-align: center;
}
*:focus {
 outline: none;
}
input[type="submit"],
button{
-webkit-appearance: none;
-webkit-border-radius: 0;
}
input[type="text"],
button{
-webkit-appearance: none;
-webkit-border-radius: 0;
}
input[type="button"],
button{
-webkit-appearance: none;
-webkit-border-radius: 0;
}	
*{
    margin: 0;
    font-family: "Roboto", sans-serif;
}
h1{
    font-size: 80px;
    text-align: left;
}
body{
    margin: auto;
    width: 100%;
    font-size: 15px;
	display: grid;
	grid-template-areas: 
    "banner banner"
	"header nav"
	"main1 main2"
	"footer footer";
}
.banner {
    display: flex;
    height: 40px;
    color: white;
    font-weight: 600;
    background-color: #DAD7CD;
    width: 100%;
    line-height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #588157;
    grid-area: banner;
}
.banner img{
    width: 30px;
    margin-top: 20px;
  }
  .banner a{
    margin-left: 15px;
  }
header{
    height: 50px;
    grid-area: header;
    background-color: #3A5A40;
}
nav{
    height: 50px;
    grid-area: nav;
    background-color: #3A5A40;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
body > nav > ul > li:nth-child(4) > a{
    font-weight: 600;
}
.menu{
    flex-direction: row;
    display: flex;
    list-style: none;
    gap: 50px;
}
.main1{
    grid-area: main1;
}
.main2{
    grid-area: main2;
}
.contenedor{
    width: 700px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.cont_izq_dentro{
    width: 70%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px; 
    margin-left: auto;
    margin-right: auto;
}
.cont_izq_dentro_eligeform{
    display: flex;
    height: 45px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    background: #3A5A40;
    border-radius: 30px;
}
.cont_gim,.cont_tienda{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont_gim{
    background: #7D9970;
    border-radius: 30px;
}
.cont_izq_fondo{
    padding: 30px;
    border-radius: 30px;
    background-color: #D1D9C4;
    text-align: left;
}
/*FORMULARIO */
.cont_izq_form{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.formulario{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 15px;
    margin-top: 100px;
}
/* INPUT FORMULARIO*/
.formulario_shop{
    width: 350px;
    height: 35px;
    background-color: #D9D9D9;
    margin-left: auto;
    margin-right: auto;
}
label{
    height: 30px;
    line-height: 30px;
    font-size: 1.1em;
    font-weight: 600;
}
#but_shop{
    width: 350px;
    background: #588157;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-radius: 30px;
    font-size: 1.1em;
    border-style: none;
    height: 40px;
    margin-top: 30px;
    cursor: pointer;
}

/*IMAGEN*/
.cont_izq_dentro img{
    max-width: 100%;
    width: 70%;
}


.cont_izq_dentro h1 {
    /* Estilo común para ambos h1 */
    position: relative; /* Para permitir posicionar la línea vertical */
    padding-left: 10px; /* Espacio entre el borde izquierdo y el texto */
}

.cont_izq_dentro h1:before {
    /* Pseudo-elemento :before para crear la línea vertical */
    content: '';
    position: absolute;
    left: 0; /* Coloca la línea al principio del contenedor */
    top: 0; /* Alinea la línea con la parte superior del contenedor */
    height: 100%; /* Estira la línea a lo largo de todo el contenedor */
    width: 6px; /* Ancho de la línea */
    background-color: #588157; /* Color de la línea */
}

.contacto:before {
    /* Estilos específicos para el texto 'CONTACTO' */
    /* Puedes ajustar estos estilos según sea necesario */
    background-color: #588157; /* Color de la línea */
}

.ayuda:before {
    /* Estilos específicos para el texto 'AYUDA' */
    /* Puedes ajustar estos estilos según sea necesario */
    background-color: #588157; /* Color de la línea */
}